<div class="maintenance-cont">
  <div class="container">
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-dark btn-add mt-3"
             routerLink="/auth/car-add">Add Car</button>
            <div class="cars-container mt-3">
                <table class="table table-dark">
                    <thead>
                      <tr>
                        <th scope="col">Car Name</th>
                        <th scope="col">Car Model</th>
                        <th scope="col">Car Price</th>
                        <th scope="col">Car Manage</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let car of cars">
                        <td>{{car.name}}</td>
                        <td>{{car.model}}</td>
                        <td>{{car.price}}</td>
                        <td>
                            <button type="button" class="btn btn-dark btn-det"
                            (click)="showCarDetails(car._id)"
                            >Details</button>
                            <button type="button" class="btn btn-dark btn-edit"
                            (click)="editCar(car._id)"
                            >Edit</button>
                            <button type="button" class="btn btn-danger btn-del"
                            (click)="deleteCar(car._id)"
                            >Delete</button>
                            <app-loader *ngIf="isDeleting && car._id == deletedId"></app-loader>
                        </td>
                        
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</div>
</div>


