.main{
 background: url(https://bluesky-cogcms-prodb.cdn.imgeng.in/media/23134/gt-w12.jpg?width=1000&height=660&mode=crop&scale=both&quality=60);
 background-repeat: no-repeat;
 background-size: cover;
 background-attachment: fixed;
 backdrop-filter: 20px;
 width: 100%;
 height: 100vh;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
input.ng-touched.ng-invalid{
 border: 2px solid red;
}
.valid{
 color: red;
 font-weight: bolder;
}